body {
    background: rgba(0, 200, 255, 0.3);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(82, 100, 122, 0.3), rgba(0, 200, 255, 0.3));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0, 115, 255, 0.3), rgba(0, 200, 255, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Courier New', Courier, monospace;
}
.index{
    width: 100vw;
    height: 100vh;
}
section .container-text h1{
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 2px 1px 2px rgb(45, 76, 163);
}
.container-dos{
    width: 100%;
    height: auto;
    background-color: rgb(99, 0, 0);
    padding: 20px 0px;
}
.container-uno{
    width: 100%;
    height: auto;
    background-color: rgb(4, 100, 100);
    padding: 20px 0px;
}
.text-bgb{
    background: linear-gradient( #3F5EFB, #FC466B);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    
}
.shadow{
    box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.603);
}
.fd-info{ 
    background: rgb(51, 129, 153);
}
.masthead{
    color: white;
    min-height: 30rem;
    height: 100%;
    width: 100%;
    padding: top 8rem;
    background: url('/images/question.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-cuarto{
height: auto;
width: auto;
background: white;
}
.bn{
    backdrop-filter: blur(10px); background: rgba(2, 179, 73, 0.6);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(6, 96, 187, 0.6), rgba(2, 179, 73, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(6, 96, 187, 0.6), rgba(2, 179, 73, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid rgb(59, 59, 59);
    box-shadow: 1px 1px 1px rgba(77, 77, 77, 0.5);
    font-weight:400;
    margin-left:2px;
    color: #fff;
}
.bgb{
    backdrop-filter: blur(10px); background: rgba(2, 179, 73, 0.8);  /* fallback for old browsers */
    background: linear-gradient(to top, rgba(6, 96, 187, 0.8), rgba(2, 179, 73, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}
.otro{
    backdrop-filter: blur(10px); background: rgba(2, 179, 73, 0.6);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(6, 96, 187, 0.6), rgba(2, 179, 73, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(6, 96, 187, 0.6), rgba(2, 179, 73, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 30px;
    width: auto;
    border-radius: 25px;
}

.navbar-ancho{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* login */
.con{
    height: 100vh;
    width: 100vw;
    background: url('/images/pencil.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
:root{
    --color-naranja : rgb(13, 131, 33) ; 
}
.contenedor-main{
    bottom: -90px;
    width: 100%;
    max-width: 800px;
    position: relative;
    margin:auto;
}

.caja-trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(2, 179, 73, 0.6);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(6, 96, 187, 0.6), rgba(2, 179, 73, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(6, 96, 187, 0.6), rgba(2, 179, 73, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.caja-trasera div{
    margin: 100px 50px;
    color: white;
    transition: all .5s ;
}

.caja-trasera div p,
.caja-trasera div button{
    text-align: center;
    margin-top: 30px;
    width: 100%;
}
.caja-trasera div h3{
    text-align: center;
font-weight: 600;
font-size: 1.5em;
}

.caja-trasera button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: white;
    outline: none;
    transition:  all .25s ;
}
.caja-trasera button:hover{
    background-color:var(--color-naranja) ;
    color: rgb(12, 12, 12);
    box-shadow: 1px 2px 2px rgba(223, 223, 223, 0.5);
}
/* formularios */
.contenedor-login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 360px;
    position: relative;
    top: -195px;
    left: 20px;
    transition: left .5s cubic-bezier(0.175, 0.885, 0.320, 1.272);
}

.contenedor-login-register form{
    width: 100%; 
    padding: 70px 20px;
    background-color: white;
    position: absolute;
    border-radius: 25px;
}

.contenedor-login-register form h2, .contenedor-login-register form h3{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-naranja) ;
    text-shadow: 1px 2px 2px rgba(36, 36, 36, 0.5);

}

.contenedor-login-register form input{
    width: 100%;
    margin-top: 20px ;
    padding: 10px;
    border: none;
    box-shadow: 1px 2px 3px rgba(36, 36, 36, 0.486) ;
    background-color: rgba(250, 250, 250, 0.952);
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}
.contenedor-login-register form input[type="text"]:focus{
    transform: scale(1.05);
    transition: all .2s;
    border-bottom: 3px solid var(--color-naranja);
}
.contenedor-login-register form input[type="password"]:focus{
    transform: scale(1.05);
    transition: all .2s;
    border-bottom: 3px solid var(--color-naranja);
}
.contenedor-login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border:none;
    font-size: 1.2em;
    background-color: var(--color-naranja);
    color:white;
    cursor:pointer;
    outline: none;
    border-radius: 15px;
    width: 100%;
}

.contenedor-login-register .de{
    padding: 10px 30px;
    margin-top: 20px;
}

.contenedor-login-register .de h2{
    
    margin-bottom: 10px;
}
.contenedor-login-register form button:hover{
    transform: scale(1.05);
    transition: all .3s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
}

.formulario-login-estudiante{
    display:block;
    opacity: 1;
}
.formulario-login-docente{
    display: none;
}
/* responsive desing */

@media screen and (max-width: 800px) {
    .caja-trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;

    }
    .caja-trasera div{
        margin:0px;
        position: absolute;
    }
    /* formulario */
    .contenedor-login-register{
    top: -15px;
    left:-10px;
    margin:auto;
    }
    .contenedor-login-register form{
        position: relative;
    }
}

.menssage{
    width: 400px;
    padding: 3px 7px;
    box-shadow: 2px 2px 4px rgba(36, 36, 36, 0.753);

}

.tamaño{
    box-shadow: 2px 2px 4px rgba(59, 59, 59, 0.753);
    border-radius: 20px;
    width: 300px;
    height: auto;
    padding: 5px 3px;
    margin: 10px 5px;

}