<%- include ../layouts/header.ejs %> 
    <section class="container-header">
        <div class="container-text text-center">
            <h1>Bienvenido a la biblioteca.</h1>
        </div>
    </section>
    
    <section class="container-uno">
        <div class="container p-2">
            <div class="row align-items-center">
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/f1.jpg" height="200" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title text-bgb">Fisica 4<sup>to</sup>año</h3>
                            <p class="card-text">Ciencia que, estudia las propiedades de la materia y de la energía y establece las leyes que explican los fenómenos naturales, excluyendo los que modifican la estructura molecular de los cuerpos.</p>
                            <a href="#" class="btn btn-primary btn-block">Leer mas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/m1.jpg" height="200" class="card-img-top" >
                        <div class="card-body">
                            <h3 class="card-title text-bgb">Matematica 4<sup>to</sup>año</h3>
                            <p class="card-text">Ciencia que, partiendo del razonamiento lógico, estudia la propiedad estructura abstracta y relacion entre entidades como números, figuras geométricas, o símbolos en general.</p>
                            <a href="#" class="btn btn-primary">Leer mas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/q1.jpg" height="200" class="card-img-top">
                        <div class="card-body ">
                            <h3 class="card-title text-bgb">Quimica 4<sup>to</sup>año</h3>
                            <p class="card-text">Ciencia que estudia, la composición, estructura y propiedades de la materia, así como los cambios que esta experimenta durante las reacciones químicas y su relación con la energía.</p>
                            <a href="#" class="btn btn-primary ">Leer mas</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="container-dos">
        <div class="container p-2">
            <div class="row align-items-center">
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/c1.jpg" height="250" class="card-img-top img-h">
                        <div class="card-body">
                            <h3 class="card-title text-bgb">Castellano 4<sup>to</sup>año</h3>
                            <p class="card-text">es el arte de la expresión verbal​, esto, abarca tanto textos escritos (literatura escrita) como hablados (literatura oral).</p>
                            <a href="#" class="btn btn-primary btn-block">Leer mas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/g1.png" height="250" class="card-img-top img-h" >
                        <div class="card-body">
                            <h3 class="card-title text-bgb">G.H.C 4<sup>to</sup>año</h3>
                            <p class="card-text">Ciencia cuyo objetivo es comprender el espacio en su totalidad, los procesos que determinan la existencia de lugares con características diferentes y las relaciones que se establecen entre esos lugares, los individuos y, con ellos, la sociedad.</p>
                            <a href="#" class="btn btn-primary">Leer mas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/b1.jpg" height="250" class="card-img-top img-h">
                        <div class="card-body ">
                            <h3 class="card-title text-bgb">Biologia 4<sup>to</sup>año</h3>
                            <p class="card-text">ciencia natural que, estudia todo lo relacionado con la vida, lo orgánico y los procesos biológicos de los seres vivos en diversos campos especializados.</p>
                            <a href="#" class="btn btn-primary ">Leer mas</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="container-uno">
        <div class="container p-2">
            <div class="row align-items-center">
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/i1.jpg" height="250" class="card-img-top img-h">
                        <div class="card-body">
                            <h3 class="card-title text-bgb">Ingles 4<sup>to</sup>año</h3>
                            <p class="card-text">idioma originario del norte de Europa, de raíz exclusivamente germánica, que se desarrolló primeramente en Inglaterra. Se considera una de las lenguas con más influencia dentro del mundo actual.</p>
                            <a href="#" class="btn btn-primary btn-block">Leer mas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/ef1.jpg" height="250" class="card-img-top img-h" >
                        <div class="card-body">
                            <h3 class="card-title text-bgb">edu. Fisica 4<sup>to</sup>año</h3>
                            <p class="card-text">Conjunto de disciplinas, especialmente escolares, que tienen como fin el desarrollo del cuerpo mediante la práctica del deporte.</p>
                            <a href="#" class="btn btn-primary">Leer mas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card hover shadow">
                        <img src="/images/pm1.jpg" height="250" class="card-img-top img-h">
                        <div class="card-body ">
                            <h3 class="card-title text-bgb">Pre-militar 4<sup>to</sup>año</h3>
                            <p class="card-text">Es un área de formación o disciplina académica dictada, a los estudiantes de bachillerato​, bajo la supervisión del Ministerio del Poder Popular para la Educación y el Ministerio del Poder Popular para la Defensa.</p>
                            <a href="#" class="btn btn-primary ">Leer mas</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<%- include ../layouts/footer.ejs %> 