<%-include ../layouts/header.ejs  %> 

<section class="container-header">
    <div class="container-text text-center">
        <h1>Bienvenido a la biblioteca.</h1>
    </div>
</section>

<section class="container-dos">
    <div class="container p-2">
        <div class="row align-items-center">
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/f2.jpg" height="200" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-bgb">Fisica 5<sup>to</sup>año</h3>
                        <p class="card-text">ciencia que estudia las propiedades de la energía y la materia, así como el tiempo, el espacio y las interacciones que tienen entre sí.</p>
                        <a href="#" class="btn btn-primary btn-block">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/m2.jpg" height="200" class="card-img-top" >
                    <div class="card-body">
                        <h3 class="card-title text-bgb">Matematica 5<sup>to</sup>año</h3>
                        <p class="card-text">ciencia deductiva, la cual se encarga del estudio de las propiedades de los entes abstractos así como de las conexiones y relaciones que existen entre ellos.</p>
                        <a href="#" class="btn btn-primary">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/q2.jpg" height="200" class="card-img-top">
                    <div class="card-body ">
                        <h3 class="card-title text-bgb">Quimica 5<sup>to</sup>año</h3>
                        <p class="card-text"> ciencia que estudia la materia, la energía y sus cambios. El objeto de estudio de la Química son las sustancias y sus interacciones.</p>
                        <a href="#" class="btn btn-primary ">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/b2.jpg" height="250" class="card-img-top img-h">
                    <div class="card-body ">
                        <h3 class="card-title text-bgb">Biologia 5<sup>to</sup>año</h3>
                        <p class="card-text">ciencia que estudia a los seres vivos y sus características, como su origen, evolución, propiedades, nutrición, reproducción, etc.</p>
                        <a href="#" class="btn btn-primary ">Leer mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-uno">
    <div class="container p-2">
        <div class="row align-items-center">
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/c2.jpg" height="250" class="card-img-top img-h">
                    <div class="card-body">
                        <h3 class="card-title text-bgb">Castellano 4<sup>to</sup>año</h3>
                        <p class="card-text">es el arte de la expresión verbal​, esto, abarca tanto textos escritos (literatura escrita) como hablados (literatura oral).</p>
                        <a href="#" class="btn btn-primary btn-block">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/g2.jpg" height="250" class="card-img-top img-h" >
                    <div class="card-body">
                        <h3 class="card-title text-bgb">G.H.C 5<sup>to</sup>año</h3>
                        <p class="card-text">Ciencia cuyo objetivo es comprender el espacio en su totalidad, los procesos que determinan la existencia de lugares con características diferentes y las relaciones que se establecen entre esos lugares, los individuos y, con ellos, la sociedad.</p>
                        <a href="#" class="btn btn-primary">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/i2.jpg" height="250" class="card-img-top img-h">
                    <div class="card-body">
                        <h3 class="card-title text-bgb">Ingles 5<sup>to</sup>año</h3>
                        <p class="card-text">idioma originario del norte de Europa, de raíz exclusivamente germánica, que se desarrolló primeramente en Inglaterra. Se considera una de las lenguas con más influencia dentro del mundo actual.</p>
                        <a href="#" class="btn btn-primary btn-block">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/ef2.jpg" height="250" class="card-img-top img-h" >
                    <div class="card-body">
                        <h3 class="card-title text-bgb">edu. Fisica 5<sup>to</sup>año</h3>
                        <p class="card-text">es aquella disciplina que abarca todo lo relacionado con el uso del cuerpo humano, ayudando a la formación integral de cada ser humano.</p>
                        <a href="#" class="btn btn-primary">Leer mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-dos">
    <div class="container p-2">
        <div class="row align-items-center">
            
            <div class="col-md-4 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/ct1.jpg" height="250" class="card-img-top img-h" >
                    <div class="card-body">
                        <h3 class="card-title text-bgb">ciencias dela tierra 5<sup>to</sup>año</h3>
                        <p class="card-text">son un conjunto de disciplinas cuyo objeto es el estudio del Planeta Tierra, su interacción con el universo, y la evolución de los seres vivos que habitan en él.</p>
                        <a href="#" class="btn btn-primary">Leer mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card hover shadow">
                    <img src="/images/pm1.jpg" height="250" class="card-img-top img-h">
                    <div class="card-body ">
                        <h3 class="card-title text-bgb">Pre-militar 5<sup>to</sup>año</h3>
                        <p class="card-text">Es un área de formación o disciplina académica dictada, a los estudiantes de bachillerato​, bajo la supervisión del Ministerio del Poder Popular para la Educación y el Ministerio del Poder Popular para la Defensa.</p>
                        <a href="#" class="btn btn-primary ">Leer mas</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%-include ../layouts/footer.ejs  %> 