<%-include ../layouts/header.ejs %> 

<div class="container px-4 m-2" >
    <div class="row justify-content-md-center  ">
        <div class="col-md-auto">
        <%if (materia.length>0) { %>
            <% for( let i= 0; i < materia.length; i++ ) { %>
            <div class="card text-center tamaño">
                <div class="card-body ">
                    <p>Codigo de la materia</p>
                        <h3 class="card-title text-uppercase">
                            <a href="#"> <%=materia[i].codigo%> </a>
                        </h3>
                    <p><strong> Nombre</strong></p>
                        <p class="card-title text-uppercase">
                            <%=materia[i].titulo%>
                        </p>
                </div>
            </div>
            <% } %>
        </div>
        <%}else { %>
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p><strong>No te has inscrito a una Materia</strong></p>
                <a href="/materias/add" class=" btn btn-success text-uppercase">inscribirse en una!</a>
            </div>
        </div>
        <% } %> 
    </div>
</div>

<%-include ../layouts/footer.ejs %> 
